.image-generator-wrapper {
  margin-top: 7rem;
  padding-bottom: 2rem;
}

.form-components-wrapper {
  display: grid;
  grid-template-areas: ' radio prompt submit';
  grid-template-columns: 16rem 1fr 10rem;
  margin: 1rem;
  padding: 0.4rem;
  border: 1px solid blue;
  border-radius: 4px;
  background-color: rgba(9, 84, 155, 0.303);

  position: sticky;
}

.radio-buttons {
  display: grid;
  grid-area: radio;
  margin-top: 0.4rem;
}

.form-prompt {
  display: grid;
  grid-area: prompt;
  padding-right: 4rem;
}

.submit-button {
  display: grid;
  grid-area: submit;
  width: 9rem;
}

.unordered-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 1rem;
  padding-bottom: 8rem;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image {
  width: 240px;
  height: auto;
  transition: transform 2s, box-shadow 2s;
}

img:hover {
  transform: scale(1.15) rotate(2deg);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.788);
}

@media screen and (max-width: 900px) {
  .form-components-wrapper {
    grid-template-areas:
      ' . radio   . '
      ' . submit . '
      ' prompt prompt prompt ';
    grid-template-columns: 1fr 1fr 1fr;
  }

  .form-prompt {
    padding-right: 0rem;
  }

  .submit-button {
    width: 20rem;
    margin-bottom: 0.6rem;
  }
}

@media screen and (max-width: 752px) {
  .image {
    width: 320px;
  }
}

@media screen and (max-width: 380px) {
  .form-components-wrapper {
    grid-template-areas:
      ' radio radio   radio '
      ' . submit . '
      ' prompt prompt prompt ';
    grid-template-columns: 1fr 1fr 1fr;
  }

  .submit-button {
    place-content: center;
    width: 12rem;
    margin-bottom: 0.6rem;
  }
}
